<%- include("templates/header",{tituloWeb:"xyz"}) %>

    <body>
        <%- include("templates/menu") %>
            <h1>
                Estoy en <%= titulo %>
            </h1>
            <h4>
                <%= subtitulo %>
            </h4>

            <p class="parrafo">CLICK</p>

            <%- include("templates/footer") %>
    </body>

    </html>