<%- include("templates/header",{tituloWeb: "productos" } ) %>

    <body>
        <%- include("templates/menu") %>
            <h2> Nombre : <%= nombre %>
            </h2>
            <p> Precio : <%= precio %>
            </p>
            <img src="../images/<%= img %>">
    </body>